In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec

%matplotlib inline

In [3]:
#supress warnings

import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',None)

In [10]:

#Pip install Tweepy if you don't already have the package
#pip install tweepy

# Imports
import tweepy
import pandas as pd
import time
import re
from tweepy import OAuthHandler
from textblob import TextBlob

In [12]:
import spacy
import nltk
from nltk.sentiment.vader
import SentimentIntensityAnalyzer

In [14]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to C:\Users\Abdul
[nltk_data]     Karim\AppData\Roaming\nltk_data...

True

In [15]:
sid=SentimentIntensityAnalyzer()

In [16]:
sid.polarity_scores('hey how u doin')

{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

In [17]:
dir(sid)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_amplify_ep',
 '_amplify_qm',
 '_but_check',
 '_idioms_check',
 '_least_check',
 '_never_check',
 '_punctuation_emphasis',
 '_sift_sentiment_scores',
 'lexicon',
 'lexicon_file',
 'make_lex_dict',
 'polarity_scores',
 'score_valence',
 'sentiment_valence']

In [18]:
# keys and tokens from the Twitter Dev Console 
consumer_key = "1wJjd9jjUwrobLlwp1u4Ri8vs"
consumer_secret = "U4HrBz8nAczVnVQhHGcCTuxcNL7vxZpjj5DTld4ROGauJpC8tQ"
access_token = "1039066641995366401-20R1QVuFdwq4ydRygzHqzb7k6lkqdl"
access_token_secret = "0yfIaszIEPorQfIP8gu7Z9TkCmVGKEDssIjlFCiPxhWmw"


# attempt authentication 
try: 
    # create OAuthHandler object 
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    # set access token and secret 
    auth.set_access_token(access_token, access_token_secret)
    # create tweepy API object to fetch tweets 
    api = tweepy.API(auth,wait_on_rate_limit=True)
except: 
    print("Error: Authentication Failed")

In [20]:
def clean_tweet(tweet): 
    ''' 
    Utility function to clean tweet text by removing links, special characters 
    using simple regex statements. 
    '''
    return ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ", tweet).split())

In [21]:
def get_tweet_sentiment(score): 
    ''' 
    Utility function to classify sentiment of passed tweet 
    using textblob's sentiment method 
    '''
    
    if score > 0: 
        return 'positive'
    elif score == 0: 
        return 'neutral'
    else: 
        return 'negative'

In [22]:
tweets = []
 

def text_query_to_csv(text_query,count=200):
    try:
        
        query = text_query + " " + "-filter:retweets"
        # Creation of query method using parameters
        tweets = api.search_tweets(q=query, lang="en", count=count)
 

        # Pulling information from tweets iterable object
        tweets_list = [[ tweet.id, tweet.created_at, tweet.text] for tweet in tweets]
        
    
        # Creation of dataframe from tweets list
        # Add or remove columns as you remove tweet information
        tweets_df = pd.DataFrame(tweets_list,columns=['Tweet Id', 'Datetime', 'tweet'])
        
        # clean tweet 
        tweets_df["clean_text"] = tweets_df["tweet"].apply(lambda tweet: clean_tweet(tweet))
        
        tweets_df["score"] = tweets_df["clean_text"].apply(lambda review:sid.polarity_scores(review))
        
        tweets_df["compound"] = tweets_df["score"].apply(lambda d:d["compound"])
        tweets_df["sentiment"] = tweets_df["compound"].apply(lambda  score : get_tweet_sentiment(score))
        
        del tweets_df["score"]
        del tweets_df["compound"]
        
      
        return tweets_df
 

    except BaseException as e:
        print('failed on_status,',str(e))
        time.sleep(3)

### Amazon India

In [24]:
amazon_india = text_query_to_csv('amazon india')
amazon_india.head()

,Tweet Id,Datetime,tweet,clean_text,sentiment
0,1637008924787503104,2023-03-18 08:31:56+00:00,@AmazonHelp @amazonIN @amazon @AmazonNews_IN @...,IN India,neutral
1,1637007302778814466,2023-03-18 08:25:29+00:00,New Release!\nINDESTRUCTIBLE\n\nThe super-heav...,New Release INDESTRUCTIBLE The super heavy tan...,positive
2,1637007191264698368,2023-03-18 08:25:03+00:00,Jubilee series: Vikramaditya Motwane directori...,Jubilee series Vikramaditya Motwane directoria...,neutral
3,1637006991984828418,2023-03-18 08:24:15+00:00,Amazon Web Service (AWS) Internship in Bangalo...,Amazon Web Service AWS Internship in Bangalore...,negative
4,1637005737380687872,2023-03-18 08:19:16+00:00,India armys please make sure you're watching J...,India armys please make sure you re watching J...,positive

In [25]:
wwe_universe = text_query_to_csv('WWE')
wwe_universe.head()

,Tweet Id,Datetime,tweet,clean_text,sentiment
0,1637009658295754753,2023-03-18 08:34:51+00:00,$wwe Top analyst price target for next week:- ...,wwe Top analyst price target for next week,positive
1,1637009653258133507,2023-03-18 08:34:50+00:00,@ibeastIess I can see Cody losing. Not necessa...,I can see Cody losing Not necessarily for the ...,negative
2,1637009551034658816,2023-03-18 08:34:25+00:00,@EmpressOverAll @WWE I speak for everyone when...,I speak for everyone when I say we want Charlo...,positive
3,1637009547746476033,2023-03-18 08:34:25+00:00,2023-03-18 16:34:24\nðŸ¥°ðŸ’¥ðŸ’¯ðŸ¤¨ðŸ’Œ\nI feel make floor ...,2023 03 18 16 34 24 I feel make floor meet light,neutral
4,1637009519002677248,2023-03-18 08:34:18+00:00,@RicFlairNatrBoy @MsCharlotteWWE @RheaRipley_W...,WWE Daddy trying to make his wittle pwincess f...,positive

In [26]:
ufc=text_query_to_csv('UFC')
ufc.head(100)

,Tweet Id,Datetime,tweet,clean_text,sentiment
0,1637009779087540224,2023-03-18 08:35:20+00:00,@ufc Itâ€™s sad that the majority of these peopl...,It s sad that the majority of these people did...,positive
1,1637009726205460481,2023-03-18 08:35:07+00:00,@MMAJunkie If merab refuses to fight for the b...,If merab refuses to fight for the belt or aljo...,negative
2,1637009593669931008,2023-03-18 08:34:35+00:00,@UFC_AUSNZ The only reason I'd pay to see this...,AUSNZ The only reason I d pay to see this is L...,negative
3,1637009425897517056,2023-03-18 08:33:55+00:00,Selling 2 tickets to UFC London tomorrow. 2 of...,Selling 2 tickets to UFC London tomorrow 2 of ...,positive
4,1637009416540258304,2023-03-18 08:33:53+00:00,Rocky talks now!? Gotta love that championship...,Rocky talks now Gotta love that championship c...,positive
...,...,...,...,...,...
95,1637004539252609025,2023-03-18 08:14:30+00:00,Only getting up early tomorrow to watch the UF...,Only getting up early tomorrow to watch the UF...,neutral
96,1637004319277948928,2023-03-18 08:13:38+00:00,@WealthOrDie I think the Fertittas had a mobst...,I think the Fertittas had a mobster ancestor L...,neutral
97,1637004265783713792,2023-03-18 08:13:25+00:00,"Leon Edwards may officially be UFC champion, b...",Leon Edwards may officially be UFC champion bu...,positive
98,1637004238130749445,2023-03-18 08:13:19+00:00,Is @MeganOlivi here in London for @ufc today? ...,Is here in London for today Seriously one of t...,positive
99,1637004204756844546,2023-03-18 08:13:11+00:00,Leon has him shoooook https://t.co/Bk1VXL9q79,Leon has him shoooook,neutral